body {
    font-family: "JetBrains Mono", serif;
    background-color: white;
}

h1 {
    margin: auto;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cell {
    background-color: #fff;
    height: 100px;
    width: 100px;
    align-content: center;
    user-select: none;
    margin: 1px;
}

.sign {
    font-size: 40px;
    text-align: center;
}

#gameTable {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: auto;
    background-color: darkgrey;
    height: 306px;
    width: 306px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}
