body {
    font-family: 'JetBrains Mono', monospace;
    background-color: white;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.header {
    margin: auto;
    text-align: center;
    font-size: min(5.5dvi, 3.5dvh);
    padding-top: min(4.2dvi, 2.8dvh);
    padding-bottom: min(4.2dvi, 2.8dvh);
}

.cell {
    background-color: #fff;
    display: flex;
}

.sign {
    height: min(9.25dvi, 6.2dvh);
    margin: auto;
}

#gameTable {
    height: min(60dvi, 40dvh);
    width: min(60dvi, 40dvh);
    padding: min(3dvi, 2dvh);
    margin: auto;
    background-color: darkgrey;
    border-radius: min(2.1dvi, 1.4dvh);
    box-shadow: 0 min(0.9dvi, 0.6dvh) min(1.8dvi, 1.2dvh) 0 rgba(0, 0, 0, 0.2),
                0 min(1.3dvi, 0.9dvh) min(4.2dvi, 2.8dvh) 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 0.5%;
}

#switchDiv {
    margin: auto;
    display: flex;
    align-items: center;
}

#switchText {
    padding-left: min(2dvi, 1.3dvh);
    padding-bottom: min(0.2dvi, 0.13dvh);
    font-size: min(4dvi, 2.6dvh);
}

/* The switch - the box around the slider */
.switch {
    display: flex;
    position: relative;
    width: min(6.6dvi, 4.4dvh);
    height: min(3.7dvi, 2.5dvh);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: '';

    height: min(2.8dvi, 1.9dvh);
    width: min(2.8dvi, 1.9dvh);

    left: min(0.5dvi, 0.3dvh);
    bottom: min(0.5dvi, 0.3dvh);

    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 0 #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(min(2.8dvi, 1.9dvh));
    -ms-transform: translateX(min(2.8dvi, 1.9dvh));
    transform: translateX(min(2.8dvi, 1.9dvh));
}

/* Rounded sliders */
.slider.round {
    border-radius: min(3.7dvi, 2.5dvh);
}

.slider.round:before {
    border-radius: 50%;
}

#counter {
    font-size: min(5.5dvi, 3.5dvh);
    margin: auto;
    text-align: center;
    padding-top: min(4.2dvi, 2.8dvh);
    padding-bottom: min(4.2dvi, 2.8dvh);
    width: min(10.5dvi, 7dvh);
    height: min(2.1dvi, 1.4dvh);
}
