body {
    font-family: "JetBrains Mono", serif;
    background-color: white;
    user-select: none;
}

h1 {
    margin: auto;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cell {
    background-color: #fff;
    height: 100px;
    width: 100px;
    margin: 1px;
    display: flex;
}

.sign {
    height: 50px;
    margin: auto;
}

p {
    align-content: center;
    display: flex;
    justify-content: center;
}

#gameTable {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: auto;
    background-color: darkgrey;
    height: 306px;
    width: 306px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

#switchDiv {
    height: 50px;
    display: flex;
}

#switch {
    margin: auto;
    display: flex;
    align-items: center;
    height: 50px;
}

#switchText {
    padding-left: 10px;
    padding-bottom: 2px;
}


/* The switch - the box around the slider */
.switch {
    display: flex;
    position: relative;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 0px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

#counter {
    width: 40px;
    height: 10px;
}
