body {
    font-family: "JetBrains Mono", serif;
    background-color: darkgrey;
}

.blackCell {
    height: 50px;
    width: 50px;
    background-color: #000;
}

.whiteCell {
    height: 50px;
    width: 50px;
    background-color: #fff;
}

#gameTable {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: auto;
    background-color: darkgrey;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}
